<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Car resale value </title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <div class="topnav" id="myTopnav">
      <a href="#home" class="active">Home</a>
      <a href="C:\Users\Thaniyeal P\OneDrive\Desktop\IBM-CAR RESALE VALUE PREDICTION\IBM-Car Resale Value Prediction\Final Deliverables\Application Building\Build HTML Page\templates\review.html">Review</a>
      <a href="C:\Users\Thaniyeal P\OneDrive\Desktop\IBM-CAR RESALE VALUE PREDICTION\IBM-Car Resale Value Prediction\Final Deliverables\Application Building\Build HTML Page\templates\contact.html">Contact</a>
      <a href="https://aboutpage11.nicepage.io/?version=4fe492b6-c34a-4273-a015-96e7e73644b8&uid=dc98e9fe-5c0a-469b-bfb3-412034d3ee39">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <section class="header">
      <nav class="logo">
        
  
      </nav> 
      
        <div class="text-box">
          <h><b>Team Id: PNT2022TMID12178</b></h>
          <h1 class="heading">Car Resale Value Predictor</h1><br>
          <div><p1><b>Sell your car at the best price</b></p1></div><br>
          
          <div><a href="C:\Users\Thaniyeal P\OneDrive\Desktop\IBM-CAR RESALE VALUE PREDICTION\IBM-Car Resale Value Prediction\Final Deliverables\Application Building\Build HTML Page\templates\value.html" class="visit-btn "><b>Check price</b></a></div>
          </div>
        
    </section>



    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
      </script>
    
  </body>
</html>
